<?php if($this->getExpectedProducts(0)->getSize() != 0)  : $allProducts =  $this->getExpectedProducts(0); ?>
    <h2>
        <?php echo $this->__('Waiting Products').':'; ?>
    </h2>
    <?php foreach ($allProducts as $product) : ?>
        <a href="<?php echo $product->getStoreUrlPath()? Mage::getUrl("").$product->getStoreUrlPath(): Mage::getUrl("").$product->getDefaultPath(); ?>">
            <?php echo $product->getStoreName() ? $product->getStoreName() : $product->getDefaultName() ?></a> <br>
    
    <?php endforeach; endif; ?>

<?php if($this->getExpectedProducts(1)->getSize() != 0)  : $allProducts =  $this->getExpectedProducts(1); ?>
    <h2>
        <?php echo $this->__('Waiting Products').':'; ?>
    </h2>
    <?php foreach ($allProducts as $product) : ?>
        <a href="<?php echo $product->getStoreUrlPath()? Mage::getUrl("").$product->getStoreUrlPath(): Mage::getUrl("").$product->getDefaultPath(); ?>">
            <?php echo $product->getStoreName() ? $product->getStoreName() : $product->getDefaultName() ?></a> <br>
    
    <?php endforeach; endif; ?>