<?php if (Mage::registry('flag') == 1): ?>
    <div class="form-adds" id="prioritize">
        <form method="post" id="prioritizeform" action='javascript:void(null);'>
            <fieldset>
                <ul>
                    <li>
                        <div class="input-box">
                            <?php if (Mage::getSingleton('customer/session')->isLoggedIn()):
                                $customer = Mage::getSingleton('customer/session')->getCustomer();
                            ?>
                                <input type="hidden" id="email" name="email" value="<?php echo $customer->getEmail(); ?>"/>
                            <?php else: ?>
                                <input type="email" id="email" name="email" placeholder="Input your email" class="input-text required-entry"/>
                            <?php endif; ?>
                            <div id="validate_email" style="color: red;"></div>
                            <input type="hidden" id="product_id" name="product_id" value="<?php echo Mage::registry('product_id'); ?>">
                        </div>
                    </li>
                    <li><br>
                        <button class="button" onclick="sendForm('<?php echo Mage::getUrl(
                            'prioritizeselling/index/ajaxsave'
                        ) ?>', '<?php echo $this->getSkinUrl('images/priorloader.gif') ?>')"><?php echo $this->__('ALERT ME ABOUT GETTING TO THE WAREHOUSE'); ?>
                        </button>
                    </li>
                </ul>
            </fieldset>
        </form>
    </div>
<?php endif; ?>